.board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 50px 50px 50px;
}

.board > div {
    border: 1px solid black;
    display: block;
}

.board > div:nth-child(1) {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.board > div:nth-child(2) {
    border-top: 1px solid transparent;
}

.display {
    display: flex;
    justify-content: space-around;
}

#playerOneDisplay, #playerTwoDisplay {
    display: flex;
    flex-direction: column;
}

#playerOneDisplay>div, #playerTwoDisplay>div {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}

/* CSS for signSelector fade in/out feature */
.signSelect, .signSelectVsComp {
    display: none;
    opacity: 0;
}

.signSelect-visible, .signSelectVsComp-visible {
    display: block;
}

.signSelect-active, .signSelectVsComp-active {
    display: block;
    opacity: 1;
}

.signSelect-transition.signSelect-visible, .signSelectVsComp-transition.signSelectVsComp-visible {
    display: block;
    opacity: 1;
}

.signSelect-transition, .signSelectVsComp-transition {
    transition: opacity 1s ease;
}

.signSelect-hidden, .signSelectVsComp-hidden {
    display: block;
    opacity: 0;
}

/* CSS for victory message fade in/out feature */

.victory {
    display: none;
    opacity: 0;
}

.victory-visible {
    display: block;
}

.victory-active {
    display: block;
    opacity: 1;
}

.victory-transition.victory-visible {
    display: block;
    opacity: 1;
}

.victory-transition {
    transition: opacity 1s ease;
}

.victory-hidden {
    display: block;
    opacity: 0;
}

/* CSS for creating fade in/out effect for draw/tie message */

.draw {
    display: none;
    opacity: 0;
}

.draw-visible {
    display: block;
}

.draw-active {
    display: block;
    opacity: 1;
}

.draw-transition.draw-visible {
    display: block;
    opacity: 1;
}

.draw-transition {
    transition: opacity 0.7s ease;
}

.draw-hidden {
    display: block;
    opacity: 0;
}