body {
    background-color: #49c5b6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align:center;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-size: 36px;
}

.btnContainer {
    margin-bottom: 35px;
    margin-top: 35px;
}

.btnContainer > button {
    width: 150px;
    height: 40px;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #E8A87C;
    border: 1px solid black;
    border-radius: 12px;
}

.btnContainer > button:hover {
    background-color: #E27D60;
    transition: 0.5s;
}



.board {
    display: grid;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    font-family: 'Bungee Inline', cursive;
}

.board > div {
    border: 1px solid black;
    display: block;
    text-align: center;
    padding: 25% 0;
    font-size: 40px;
    background-color: #E27D60;
}

.board > div:nth-child(1) {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}

.board > div:nth-child(2) {
    border-top: 1px solid transparent;
}

.board > div:nth-child(3) {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.board > div:nth-child(4) {
    border-left: 1px solid transparent;
    
}

.board > div:nth-child(6) {
    border-right: 1px solid transparent;
}

.board > div:nth-child(7) {
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.board > div:nth-child(8) {
    border-bottom: 1px solid transparent;
}

.board > div:nth-child(9) {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.display {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    background-color: #C38D9E;
    margin-bottom: 20px;
    border-radius: 16px;
    letter-spacing: 1px;
    width: 600px;
    font-size: 20px;
}

#playerOneDisplay, #playerTwoDisplay {
    display: flex;
    flex-direction: column;
}

#playerOneDisplay>div, #playerTwoDisplay>div {
    display: flex;
    align-items: center;
    width: 220px;
    font-weight: 600;
    justify-content: space-between;
}

/* CSS for signSelector fade in/out feature */
.signSelect, .signSelectVsComp {
    display: none;
    opacity: 0;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.signSelect-visible, .signSelectVsComp-visible {
    display: block;
}

.signSelect-active, .signSelectVsComp-active {
    display: block;
    opacity: 1;
}

.signSelect-transition.signSelect-visible, .signSelectVsComp-transition.signSelectVsComp-visible {
    display: block;
    opacity: 1;
}

.signSelect-transition, .signSelectVsComp-transition {
    transition: opacity 1s ease;
}

.signSelect-hidden, .signSelectVsComp-hidden {
    display: block;
    opacity: 0;
}

/* CSS for victory message fade in/out feature */

.victory {
    display: none;
    opacity: 0;
    font-family: 'Fredericka the Great', cursive, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.victory-visible {
    display: block;
}

.victory-active {
    display: block;
    opacity: 1;
}

.victory-transition.victory-visible {
    display: block;
    opacity: 1;
}

.victory-transition {
    transition: opacity 1s ease;
}

.victory-hidden {
    display: block;
    opacity: 0;
}

/* CSS for creating fade in/out effect for draw/tie message */

.draw {
    display: none;
    opacity: 0;
}

.draw-visible {
    display: block;
}

.draw-active {
    display: block;
    opacity: 1;
}

.draw-transition.draw-visible {
    display: block;
    opacity: 1;
}

.draw-transition {
    transition: opacity 0.7s ease;
}

.draw-hidden {
    display: block;
    opacity: 0;
}