.board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 50px 50px 50px;
}

.board > div {
    border: 1px solid black;
    display: block;
}


/* CSS for signSelector fade in/out feature */
.signSelect {
    display: none;
    opacity: 0;
}

.signSelect-visible {
    display: block;
}

.signSelect-active {
    display: block;
    opacity: 1;
}

.signSelect-transition.signSelect-visible {
    display: block;
    opacity: 1;
}

.signSelect-transition {
    transition: opacity 1s ease;
}

.signSelect-hidden {
    display: block;
    opacity: 0;
}

/* CSS for victory message fade in/out feature */

.victory {
    display: none;
    opacity: 0;
}